body{
	font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif; 
	font-size:12px;
}
p, h1, form, button{border:0; margin:0; padding:0;}
.spacer{clear:both; height:1px;}

	div {
		border:solid 2px #b7ddf2;
		background:#fbf4fb;
		padding:8px 8px 4px 8px;
		width:600px;
		margin-left:auto;
		margin-right:auto;
		margin-top:8px;
		margin-bottom:8px;
	}


	form {
		margin:0 auto;
		width:500px;
		padding:14px;
	}

	h1 {
		font-size:14px;
		font-weight:normal;
		margin-bottom:8px;
	}

	label{
		font-weight:bold;
		text-align:right;
		width:200px;
		display: block;
		padding-top:0.5em;
		float:left;
	}

	input{
		font-size:12px;
		padding:4px 2px;
		border:solid 1px #aacfe4;
		width:200px;
		margin:2px 0 20px 10px;
	}

	select{
		font-size:12px;
		padding:4px 2px;
		border:solid 1px #aacfe4;
		width:200px;
		margin:2px 0 20px 10px;
	}

	button{ 
		clear:both;
		margin-left:150px;
		width:125px;
		height:31px;
		text-align:center;
		line-height:31px;
		color:#FFFFFF;
		font-size:11px;
		font-weight:bold;
	}
